{% extends "esqueleto.html" %}
{% block cuerpo %}

	<h1>Menu Hoy {{ dia }}</h1>

 	{% for platillo in menu %}

 	         <div class="menu-content ui-corner-all custom-corners">
                <div class="ui-bar ui-bar-a">
                    <h3>{{ platillo.comidas }} </h3>
                </div>
                <div class="ui-body ui-body-a">
                     <img width="120px" height="120px"  src="{{MEDIA_URL}}{{ platillo.comidas.foto }}" alt="{{ platillo.comidas }}" title="Menu {{ platillo.comidas }}"  >
                        <h3>Descripcion:</h3>
                        <p>{{ platillo.comidas.descripcion }}</p>

                        <h3>Complemento:</h3>
                        
                            <ul>{% for comp in platillo.complemento.all %} 
                                <li>{{ comp.nombre }}</li>
                                {% endfor %}
                            </ul>
                        <h3>Sopa:</h3>
                        <ul>{% for soup in platillo.sopa.all %} 
                             <li>{{ soup.nombre  }}</li>
                            {% endfor %}
                        </ul>
                        <h2>Bebida:</h2>
                        <ul>{% for drink in platillo.bebida.all %} 
                            <li>{{ drink.nombre }}</li>
                            {% endfor %}
                        </ul>

                </div>
            </div>

	 
	{% endfor %}

 
{% endblock %}
